@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1 class="text-center fs-1">The car was successfully updated.</h1>

<div class="container my-4">
    <!-- Card för car details -->
    <div class="card">
        <div class="card-header">
            <h4 class="fs-3">New car details:</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Car Id;
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.CarId)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Brand:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.Brand)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Model:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.Model)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Model year:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.ModelYear)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Price per day:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.PricePerDay) $
                        </dd>
                    </dl>
                </div>
                <!-- Bild höger sida -->
                <div class="col-md-6">
                    <img src="@Model.carImages[0]" alt="Booking Image" class="img-fluid w-100" />
                </div>
            </div>
        </div>
       
    </div>
    <div class="mt-4 d-flex justify-content-center gap-3">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg">Go to Home</a>
        <a asp-controller="Booking" asp-action="ListAllCars" class="btn btn-secondary btn-lg">View Cars</a>
    </div>
</div>












