@model FribergCarRentals.ViewModel.BookingSummaryVm

<h1 class="text-center fs-1">Thank your for your booking!</h1>

<div class="container my-4">
    
    <div class="card">
        <div class="card-header">
            <h4 class="fs-3">Booking details:</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Booking ID:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.BookingId)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Brand:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.Brand)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Model:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.Model)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Start date:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Model.StartDate.ToString("yyyy-MM-dd")
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            End date:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Model.EndDate.ToString("yyyy-MM-dd")
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Total price:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            $@Html.DisplayFor(model => model.TotalPrice)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Customer:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.CustomerName)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            Customer Email:
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.CustomerEmail)
                        </dd>
                    </dl>
                </div>
                <!-- Bilden på höger sida -->
                <div class="col-md-6">
                    <img src="@Model.ImageUrl" alt="Booking Image" class="img-fluid w-100" />
                </div>
            </div>
        </div>
    </div>
</div>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg ms-3 mt-3">Back to Home</a>



