@model FribergCarRentals.Models.Booking

@{
    ViewData["Title"] = "UnbookBooking";
}
<h1 class="text-center fs-1">Are you sure you want to unbook this booking?</h1>

<div class="container my-4">
    <!-- Card for booking details -->
    <div class="card">
        <div class="card-header">
            <h4 class="fs-3">Booking Details</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4 fs-5 fw-bold">
                            @Html.DisplayNameFor(model => model.BookingId)
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.BookingId)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            @Html.DisplayNameFor(model => model.Car)
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @($"{Model.Car.Brand} {Model.Car.Model}")
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            @Html.DisplayNameFor(model => model.StartDate)
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.StartDate)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            @Html.DisplayNameFor(model => model.EndDate)
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>
                        <dt class="col-sm-4 fs-5 fw-bold">
                            @Html.DisplayNameFor(model => model.TotalCost)
                        </dt>
                        <dd class="col-sm-8 fs-4">
                            @Html.DisplayFor(model => model.TotalCost) $
                        </dd>
                    </dl>
                </div>
                <!-- Right side image -->
                <div class="col-md-6">
                    <img src="@Model.Car.carImages[0]" alt="Booking Image" class="img-fluid w-100" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-4 d-flex" style="margin-left: 20px;">
    <form asp-action="DeleteConfirmed" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="bookingId" value="@Model.BookingId" />
        <button type="submit" class="btn btn-danger btn-lg">Unbook</button>
    </form>
    <a asp-action="ListUserBookings" class="btn btn-secondary btn-lg ms-3">Go Back</a>
</div>