@model FribergCarRentals.ViewModel.StartBookingVM
@{
    ViewData["Title"] = "Start Booking";
}
<div class="d-flex justify-content-center align-items-center" style="margin-top: 10em; margin-bottom: 2em;">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Login Formulär -->
            <div class="col-md-5 col-sm-5 col-12 d-flex justify-content-center align-items-center">
                <div class="register-box">
                    <h2 class="text-center mb-4">Sign in:</h2>
                    <form asp-controller="Customer" asp-action="LoginBeforeBook" method="post">
                        @Html.AntiForgeryToken()
                        <!-- Hidden Car ID -->
                        @Html.HiddenFor(model => model.LoginForm.CarId, new { @value = ViewBag.CarId })

                        <!-- Email input -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(model => model.LoginForm.Email, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.LoginForm.Email, new { @class = "form-control", id = "formEmailInput" })
                            @Html.ValidationMessageFor(model => model.LoginForm.Email, "", new { @class = "text-danger" })
                        </div>

                        <!-- Lösenord input -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(model => model.LoginForm.Password, new { @class = "form-label" })
                            @Html.PasswordFor(model => model.LoginForm.Password, new { @class = "form-control", id = "formPasswordInput" })
                            @Html.ValidationMessageFor(model => model.LoginForm.Password, "", new { @class = "text-danger" })
                        </div>

                        <!-- Remember me och forgot password -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center">
                                <div class="form-check">
                                    @Html.CheckBoxFor(model => model.LoginForm.RememberMe, new { @class = "form-check-input", id = "rememberMeCheck" })
                                    @Html.LabelFor(model => model.LoginForm.RememberMe, new { @class = "form-check-label" })
                                </div>
                            </div>
                            <div class="col">
                                <a href="#!">Forgot password?</a>
                            </div>
                        </div>

                        <!-- Logga in knapp -->
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary w-100 mb-4">Sign in</button>
                        </div>
                    </form>
                    <div class="ms-3">
                        <!-- visar felmeddelanden -->
                        @if (TempData["LoginError1"] != null)

                        {
                            <div class="alert alert-danger">
                                @TempData["LoginError1"]
                            </div>
                        }
                        @if (TempData["LoginError2"] != null)

                        {
                            <div class="alert alert-danger">
                                @TempData["LoginError2"]
                            </div>
                        }
                    </div>
                </div>
            </div>

            <!-- Vertikal avskiljare -->
            <div class="col-md-2 col-sm-2 col-12 d-flex justify-content-center align-items-center">
                <div class="vertical-ruler"></div>
            </div>

            <!-- Registreringsformulär-->
            <div class="col-md-5 col-sm-5 col-12 d-flex justify-content-center align-items-center">
                <div class="register-box">
                    <h2 class="text-center mb-4">Register:</h2>
                    <form asp-controller="Customer" asp-action="RegisterBeforeBook" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.RegisterForm.CarId)

                        <!-- Förnamn -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(model => model.RegisterForm.FirstName, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.RegisterForm.FirstName, new { @class = "form-control", id = "firstNameInput" })
                        </div>

                        <!-- Efternamn -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(model => model.RegisterForm.LastName, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.RegisterForm.LastName, new { @class = "form-control", id = "lastNameInput" })
                        </div>

                        <!-- Email -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(model => model.RegisterForm.Email, new { @class = "form-label" })
                            @Html.TextBoxFor(model => model.RegisterForm.Email, new { @class = "form-control", id = "registerFormEmailInput" })
                        </div>

                        <!-- Lösenord -->
                        <div class="form-outline mb-3">
                            @Html.LabelFor(model => model.RegisterForm.Password, new { @class = "form-label" })
                            @Html.PasswordFor(model => model.RegisterForm.Password, new { @class = "form-control", id = "registerFormPasswordInput" })
                        </div>

                        <!-- Submit knapp -->
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <button type="submit" class="btn btn-primary w-100 mb-4">Register</button>
                        </div>
                    </form>
                    <div class="ms-3">
                        <!-- Visa felmeddelanden -->
                        @if (TempData["ErrorRegister1"] != null)

                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorRegister1"]
                            </div>
                        }
                        @if (TempData["ErrorRegister2"] != null)

                        {
                            <div class="alert alert-danger">
                                @TempData["ErrorRegister2"]
                            </div>
                        }
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>