@model FribergCarRentals.ViewModel.LoginVM

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="text-center mb-3">
            <h4 class="mb-3 fw-bold">Your account has successfully been created.</h4>
        </div>
        <div class="mb-3 text-center">
            <img src="/images/success.png" alt="Success Symbol" class="img-fluid my-3" style="max-height: 150px;">
        </div>

            <form asp-action="Login" method="post">
                @Html.AntiForgeryToken()
                <div class="bg-light p-4 rounded shadow mb-4">
                    <!-- Visa email -->
                    <div class="mb-3">
                    <label class="form-label fw-bold">Email:</label>
                        <p class="form-control-plaintext">@Model.Email</p>
                        @Html.HiddenFor(model => model.Email)
                    </div>

                    <!-- visa lösenord -->
                    <div class="mb-3">
                    <label class="form-label fw-bold">Password:</label>
                        <p class="form-control-plaintext">@Model.Password</p>
                        @Html.HiddenFor(model => model.Password)
                    </div>
                </div>
                @Html.HiddenFor(model => model.RememberMe)

                <!-- logga in knapp -->
                <div class="text-center">
                    <button type="submit" class="btn btn-success w-25">Log in</button>
                </div>
            </form>
        </div>
    
</div>