@model IEnumerable<FribergCarRentals.Models.Car>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    
    <div class="row mt-4">
        <div class="col image-container">
            <img src="~/images/skoda.jpg" class="image-container-img" style="width: 100%; height: 100%; object-fit: cover;">
            <img src="~/images/companyLogo.png" class="logo-image" />
            <div class="overlay-text-homepage">Scoda Elroq is now available</div>
            <div class="overlay-rentNowButton-homepage" style="width: 20em;">
                <form asp-controller="Customer" asp-action="LoginOrRegisterBeforeBooking" method="get">
                    <input type="hidden" name="carId" value="2003" />
                    <button type="submit" class="btn btn-success btn-lg w-100">Rent Now</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col horizontal-devider-down-homepage border border-light">
            <div class="overlay-NewCars-homepage New-Arivals">New arrivals:</div>
        </div>
    </div>
    <div class="row mt-3">
        @foreach (var item in Model)
        {
           
            var defaultImage = "https://esquire-shop.co.za/images/noimg.png";
            var imageUrl = (item.carImages != null && item.carImages.Length > 0) ? item.carImages[0] : defaultImage;
            <div class="col-md-3 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@imageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@item.Brand @item.Model</h5>
                        <hr>
                        <p class="card-text d-flex justify-content-between">Year: <span>@item.ModelYear</span></p>
                        <p class="card-text d-flex justify-content-between">Is Available: <span>@(item.IsAvailable ? "Yes" : "No")</span></p>
                        <p class="card-text d-flex justify-content-between">Price: <span style="font-weight: bold;">$@item.PricePerDay/day</span></p>
                        <hr>
                        <form asp-controller="Customer" asp-action="LoginOrRegisterBeforeBooking" method="get">
                            <input type="hidden" name="carId" value="@item.CarId" />
                            <button type="submit" class="btn btn-outline-success btn-lg w-100">Rent Now</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
